virtualenv*/
.virtualenv*/
*.pyc
/.local/

/screenshots/

/backups/
/.idea/
*.iml

/media/
/upload/
temp/
/tests/
/releases/
/logs/
*.log
.env*
!.env.sample
.deploy.yaml
.DS_Store

weights/
checkpoints/
DictionaryCenter512/
Results/

FaceLandmarkDetection/build
FaceLandmarkDetection/dist
FaceLandmarkDetection/face_alignment.egg-info
